<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="cancel()">
      <ion-button type="button" color="medium" [disabled]="submitting">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div *ngIf="expense.id; else elseBlock">Edit Expense</div>
      <ng-template #elseBlock>Add Expense</ng-template>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        type="button"
        color="medium"
        (click)="save()"
        [disabled]="expenseForm.pristine || expenseForm.invalid || submitting"
      >
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <ion-item>
    <ion-icon slot="start" name="text"></ion-icon>
    <ion-input placeholder="Enter the expense's name" formControlName="name" [disabled]="submitting"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="pricetag"></ion-icon>
    <ion-select interface="popover" placeholder="Choose a category" formControlName="categoryId">
      <ion-select-option role="option" *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </ion-select-option>
    </ion-select>
    <ion-button color="warning" slot="end" (click)="showCategoryModal()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="wallet-outline"></ion-icon>
    <ion-input
      type="number"
      inputmode="decimal"
      placeholder="Enter the amount in CHF"
      step="0.05"
      formControlName="amount"
    ></ion-input>
    <ion-note slot="end">CHF</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="calendar"></ion-icon>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime color="light" presentation="date" id="datetime" formControlName="date">
          <span slot="title">Select the purchase date</span>
        </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-fab *ngIf="expense.id" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger" [disabled]="submitting">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
