<!-- ------ -->
<!-- Header -->
<!-- ------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title>Add Expense</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ------- -->
<!-- Content -->
<!-- ------- -->
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="text" slot="start"></ion-icon>
          <ion-input maxlength="40" placeholder="Enter the expense's name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-select interface="popover" placeholder="Category" multiple="true"></ion-select>
          <ion-button
            slot="end"
            class="md button button-small button-solid button-has-icon-only ion-activatable ion-focusable hydrated"
          >
            <ion-icon slot="icon-only" name="add" class="md hydrated"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="cash" slot="start"></ion-icon>
          <ion-input
            inputmode="decimal"
            placeholder="Enter the amount in CHF"
            required
            step="0.01"
            type="number"
            min="0.01"
          ></ion-input>
          <ion-note slot="end">CHF</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-datetime-button datetime="date"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="date" presentation="date"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="delete()" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
